<!DOCTYPE html>
<html lang="en-US" dir="ltr">



      <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
    
        <!-- ===============================================-->
        <!--    Document Title-->
        <!-- ===============================================-->
        <title>voyage | Landing, Corporate &amp; Business Templatee</title>
    
    
        <!-- ===============================================-->
        <!--    Favicons-->
        <!-- ===============================================-->
        <link rel="apple-touch-icon" sizes="180x180" href="/static/img/favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/img/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/img/favicons/favicon-16x16.png">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicons/favicon.ico">
        <link rel="manifest" href="/static/img/favicons/manifest.json">
        <meta name="msapplication-TileImage" content="/static/img/favicons/mstile-150x150.png">
        <meta name="theme-color" content="#ffffff">
    
    
        <!-- ===============================================-->
        <!--    Stylesheets-->
        <!-- ===============================================-->
        <link href="/static/css/theme.css" rel="stylesheet" />
        <link href="/static/css/my.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-edi
        table/css/bootstrap-editable.css" />
      </head>

<body>


<!-- ===============================================-->
    <!--    Main Content-->
    <!-- ===============================================-->
    {% include("layout/bandeau.html") %}
  <!-- ======= Header ======= -->
  

  <main id="main">
    <section id="admnistrateur" class="contact">
        <div class="container">
    {# liste #}
    <table class="table">
        <thead>
        <tr>
          <th>Supp</th>
          <th>Avatar</th>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
          <th>Login</th>
          <th>Statut</th>
        </tr>
        </thead>
    
      <tbody>
      {% if liste and liste is not none %}
        {% for user in liste %}
          <tr>
            <td>
              <a href="/suppMembre/{{user.idUser}}">
                <i class='fa-solid fa-trash-can text-danger'></i></td>
              </a>
            <td><img src="/static/img/avatar/{{ user.avatar }}" /></td>
            <td class='modif' data-url = '/updateNom' data-pk='{{user.idUser}}' > {{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.mail }}</td>
            <td>{{ user.login }}</td>
            <td class='modifSelect' data-url = '/updateStatut'
            data-pk='{{user.idUser}}'>
            {% if user.statut == 0 %}
                Administrateur
            {% else %}
                Gestionnaire
            {% endif %}
            </td>
          </tr>
        {% endfor %}
      {% endif %}
    </tbody>
    </table>
    </div>
    </section>

  
 
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  

</body>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstr
ap-editable.min.js"></script>


<script> 
    const $ = jQuery.noConflict(); 
    jQuery(function() {
        $.fn.editable.defaults.mode = 'inline'
        $(".modif").editable()
        $(".modifSelect").editable({
            type: 'select',
            source: [
                {value: 1, text: 'Gestionnaire'},
                {value: 0, text: 'Administrateur'}
            ]
        })
   })
   </script>


</html>
